{% extends "layout.html" %}

{% block content %}
  <div class="row">
  	<div class="col-md-12">
  		<h3>Products</h3>
		<a href="">Show Active Only</a>
  	</div>
  </div>
  <hr style="margin-top: 0; margin-bottom: 20px;">

	<form class="form-inline" role="form">
	    <div class="row">
		    <div class="col-sm-4">
		    	<input class="form-inline" style="width:100%" type="text" id="productName" class="form-control" placeholder="name" required="" autofocus="">
		    </div>
		    <div class="col-sm-2">
		    	<button type="submit" class="pull-right">Add a Product</button>
		    </div>
	 	</div>
	 	<div class="row">
	 		<div class="col-sm-6">
	 			<textarea style="width:100%" id="productDescription" placeholder="Description"></textarea>
	 		</div>	
	 	</div>
	 </form>

	{% for product in products %}
		<div class="row">
	 		<div class="col-sm-1 text-container" style="background-color: {{product.bgColor}}; padding-left: 7px; margin-left: 15px; padding-top: 4px; padding-bottom: 4px;">
	 			<div style="line-height: 26px;"><a href="/products/{{product.id}}">{{product.name}}</a></div>
	 		</div>
	 		<div class="col-sm-1" style="max-width: 60px; background-color: {{product.bgColor}}; padding-top: 4px; padding-bottom: 4px;">	
	 			<input class="form-inline" size=3 type="text" id="prodXStock" class="form-control" required="" value="{{product.inStock}}">
	 		</div>
	 		<div class="col-sm-2" style="background-color: {{product.bgColor}}; padding-top: 4px; padding-bottom: 4px;">
		    	<button type="submit">Update # in Stock</button>
		    </div>
		    <div class="col-sm-2" style="background-color: {{product.bgColor}}; padding-top: 4px; padding-bottom: 4px; padding-right: 7px;">
		    	<button class="btn-{{product.btnType}}" type="submit">{{product.disOrRe}}</button>
			</div>
		</div>
	{% endfor %}

{% endblock %}