.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.row.product .col-sm-1 {
     border-top: 1px solid;
}
.row.product .col-sm-2 {
     border-top: 1px solid;
}